body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFF;
    text-decoration: none;
}
.navigation{
    list-style-type:none;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

button{
    cursor: pointer;
}
p{
    font-size: 16px;
}
h3{
    font-size: 20px;
}
h2{
    font-size: 36px;
}
.logol{
    color: #4D5AE5;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
}
.logoll{
    color: #2e2f42;
}
.logo-lll{
    color: #F4F4FD;
}